<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Exemplo_01/src/br/com/fiap/exemplo/ws/PublicaService.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.fiap.exemplo.ws.PublicaService"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Exemplo_01"/>
</launchConfiguration>
